---
import { TITLE } from "astro:env/client";
import { SEO } from "astro-seo";
import BaseLayout from "layouts/BaseLayout.astro";
---

<SEO
  title={`Kilobits &ndash; ${TITLE}`}
  description="Fresh, byte-sized coding tips and tricks delivered weekly — HTML, CSS, JS, and more!"
/>
<BaseLayout>
  <h1>Kilobits</h1>
  <p>
    Fresh, byte-sized coding tips and tricks hit the page weekly — <a href="/kilobits/languages/html" aria-label="HTML coding tips">HTML</a>, 
<a href="/kilobits/languages/css" aria-label="CSS coding tips">CSS</a>, 
<a href="/kilobits/languages/js" aria-label="JS coding tips">JS</a>, and beyond!
  </p>
</BaseLayout>
