---
import { TITLE } from "astro:env/client";
import { SEO } from "astro-seo";
import BaseLayout from "layouts/BaseLayout.astro";
import getKilobitLanguages from "utils/getKilobitLanguages";
import { slugify } from "utils/slugify";
import getKilobitsByLanguages from "utils/getKilobitsByLanguage";
import formatLanguage from "utils/formatLanguage";

const kilobitLanguages = await getKilobitLanguages();
const recentKilobitsByLang = await Promise.all(
  kilobitLanguages.map(async (lang) => lang)
);
---

<SEO
  title={`Kilobits &ndash; ${TITLE}`}
  description="Fresh, byte-sized coding tips and tricks delivered weekly — HTML, CSS, JS, and more!"
/>
<BaseLayout>
  <h1>Kilobits</h1>
  <p>
    Fresh, byte-sized coding tips and tricks hit the page weekly — HTML, CSS,
    JS, and beyond!
  </p>
  <ul>
    {
      recentKilobitsByLang.map((language) => (
        <li>
          <a href={`/kilobits/${language}`}>{formatLanguage(language)}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
