@use "reset";
@use "variables";
@use "theme";

body {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-inline: clamp(1rem, 5vw, 2rem);
    max-width: 48rem;
    font-family: "IBM Plex Mono", serif;
    font-size: 1rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto minmax(0, 1fr) 5rem;
    grid-template-columns: minmax(0, 1fr);
    height: 100vh;
    letter-spacing: -.5px;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

a {
    color: var(--link-primary);

    &:hover {
        color: var(--link-primary-hover);
    }
}