@use "theme";

body {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-inline: clamp(1rem, 5vw, 2rem);
    max-width: 48rem;
    font-family: "IBM Plex Mono", serif;
    font-size: 1rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto minmax(0, 1fr) 5rem;
    grid-template-columns: minmax(0, 1fr);
    min-height: 100vh;
}