---
import { TITLE } from "astro:env/client";
import BaseLayout from "layouts/BaseLayout.astro";
import { SEO } from "astro-seo";
---

<SEO
  title={`${TITLE} &ndash; The Beared Gentleman Developer from WA`}
  description="Software developer passionate about efficient apps, front-end development, and COBOL. I love blending code, creativity, and problem-solving."
/>
<BaseLayout>
  <h1>Howdy, I'm Stephen 👋👋</h1>

  <p>
    I'm a software developer with a passion for building efficient,
    user-friendly applications and diving deep into emerging technologies. I
    thrive at the intersection of code, creativity, and problem-solving, with a
    particular interest in front-end development, and a passion for COBOL.
  </p>

  <p>
    I'm driven by a commitment to continuous learning, a belief in the power of
    well-structured documentation, and a desire to create solutions that make a
    meaningful impact.
  </p>

  <p>
    When I'm not coding or tinkering with new tools, you might find me enjoying
    a good meme, reflecting on the importance of foundational principles, or
    spending quality time with my family—often with a healthy dose of laughter
    and love.
  </p>

  <h2>Get in Touch</h2>
  <p>
    I'm always open to connecting, whether it's about a potential project, a
    shared interest, or just to chat about the latest tech trends. The best way
    to reach me is via <a href="mailto:stephenjohnston@protonmail.com">email</a
    >.
  </p>
</BaseLayout>
