---
import BaseLayout from "layouts/BaseLayout.astro";
import topics from "data/topics";
import { slugify } from "utils/slugify";
import { TITLE } from "astro:env/client";
---

<BaseLayout
  title={`${TITLE} - Topics`}
  description="A collection of topics I have written on everything from Front-End Development to COBOL."
>
  <h1>Topics</h1>
  <p>
    This is my Topics page! I've got a lot of interests and write about all
    sorts of nonsense, from Front-End Development to COBOL and everything in
    between... but mostly COBOL at the moment.
  </p>
  <ul>
    {
      topics.map((topic) => (
        <li>
          <a href={`/articles/topics/${slugify(topic.name)}`}>{topic.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
