<header class="global-header">
  <a id="skip-nav" class="sr-only" href="#main-content"> Skip to Content </a>
  <a href="/">StephenJohnston</a>
  <nav class="global-navigation">
    <ul role="list">
      <li>
        <a href="/">#home</a>
      </li>
      <li>
        <a href="/tidbits">#tidbits</a>
      </li>
      <li>
        <a href="/articles">#articles</a>
      </li>
      <li>
        <a href="/about">#about</a>
      </li>
    </ul>
  </nav>
</header>
<style lang="scss">

  #skip-nav {
    background: #319795;
    color: #fff;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-250%);
    transition: transform 0.3s;

    &:focus,
    &:focus-within {
      transform: translateY(0%);
    }
  }

  .global-navigation {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1rem;
        flex-wrap: wrap;
        place-content: center;

        li {
            display: inline;
        }
    }
  }
</style>
