---
import { Image } from "astro:assets";
import ProfilePicture from "assets/images/ProfilePicture.png";
const profileLinks = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/stephenkingjohnston/",
  },
  {
    name: "GitHub",
    url: "https://github.com/stephenkjohnston",
  },
  {
    name: "X",
    url: "https://x.com/stephencodes",
  },
  {
    name: "DEV",
    url: "https://dev.to/stephenkjohnston",
  },
];
---

<section class="hero">
  <div class="hero__content">
    <mark>Front-End Engineer</mark> by trade, <mark>Mainframe Developer</mark> in
    training.
    <ul class="hero__links">
      {
        profileLinks.map((profileLink) => (
          <li class="hero__link">
            <a href={profileLink.url} target="_blank">
              {profileLink.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <figure class="hero__image">
    <Image src={ProfilePicture} alt="Stephen Johnston" />
  </figure>
</section>
<style lang="scss">
  .hero {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      place-content: center;
      align-items: center;
    }
  }

  .hero__content {
    font-size: clamp(1.25rem, 5vw, 2.25rem);
    width: 600px;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

  .hero__content mark {
    background-color: transparent;
    color: var(--clr-blue-70);
    text-decoration: underline;
    text-decoration-style: wavy;
    font-weight: 600;
  }

  .hero__image {
    margin: 0;
  }

  .hero__image img {
    border-radius: 10px;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .hero__links {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0;
    list-style: none;

    @media (max-width: 768px) {
      font-size: 1.125rem;
      place-content: center;
    }
  }
</style>
