---
const { title, url } = Astro.props;
---

<section class="recent">
  <header class="recent__header">
    <h2 class="recent__title">#recent&ndash;{title}</h2>
    <a class="recent__link" href={url}>[view all]</a>
  </header>
  <slot />
</section>
<style lang="scss">
  .recent {
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin: 0;
      font-size: clamp(1rem, 5vw, 1.5rem);
      font-weight: var(--fw-700);
    }

    &__link {
      text-decoration: none;
      color: var(--clr-blue-70);
    }
  }
</style>
