---
import BaseLayout from "layouts/BaseLayout.astro";

export const getStaticPaths = async () => {
  return [
    { params: { language: 'html' } },
    { params: { language: 'css' } },
    { params: { language: 'js' } },
  ];
};

const { language } = Astro.params;
---
<BaseLayout>
    <h1>Language: {language}</h1>
</BaseLayout>